@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 0rem 2.5rem;
}

.navigation__burger {
  color: #5f6368;
  font-size: 20px;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s;
}

.navigation__burger:hover {
  background-color: rgba(68, 68, 68, 0.08);
}

.navigation__contact {
  margin-left: 10px;
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.navigation__contact img {
  width: 40px;
}

.navigation__contact i {
  display: flex;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #3C73E9;
  color: #fff;
  padding: 1.8rem;
}

.navigation__contact span {
  margin-left: 8px;
  color: #5f6368;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 500;
}

.navigation__search {
  margin-right: auto;
  margin-left: 5rem;
  position: relative;
  width: 65rem;
  align-items: center;
  margin-top: -50px;
}

.navigation__search input {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F1F3F4;
  border: none;
  outline: none;
  padding: 1.5rem 7rem;
  border-radius: 12px;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.2s;
}

.navigation__search input:focus {
  background-color: #fff;
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ccc;
  border-radius: 2px;
}

.navigation__search input::placeholder {
  font-size: 14px;
  color: #999;
}

.navigation__search i {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 15px;
  font-size: 17px;
  color: #5f6368;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s;
}

.navigation__search i:hover {
  background-color: rgba(68, 68, 68, 0.1);
}

.navigation__search--close {
  position: absolute;
  z-index: 100;
  right: 15px;
  top: 5px;
  color: #5f6368;
  font-size: 30px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s;
}

.navigation__search--close:hover {
  background-color: rgba(68, 68, 68, 0.1);
}

.navigation__search--input:placeholder-shown ~ .navigation__search--close {
  opacity: 0;
}

.navigation__icons {
  margin-right: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #5f6368;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.navigation__icons figure {
  position: absolute;
  background-color: #5f6368;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  padding: 3px 5px;
  transform: translateY(0px);
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.2s 0.3s, opacity 0.4s 0.3s, visibility 0.4s;
}

.navigation__icons--que {
  margin-right: 30px;
}

.navigation__icons--que figure {
  left: -2rem;
}

.navigation__icons--setting figure {
  width: 90px;
  left: 1rem;
}

.navigation__icons--que i:hover + figure {
  transform: translateY(10px);
  opacity: 1;
  visibility: visible;
}

.navigation__icons--setting i:hover + figure {
  transform: translateY(10px);
  opacity: 1;
  visibility: visible;
}

.navigation__info {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.navigation__info--svg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s;
  margin-right: 10px;
}

.navigation__info--svg:hover {
  background-color: rgba(68, 68, 68, 0.08);
}

.navigation__info--svg svg {
  width: 25px !important;
  height: 25px !important;
  fill: #5f6368;
}

.navigation__info--user {
  width: 32px;
  height: 32px;
  background-color: #5C6BC0;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.navigation__apps--content {
  position: absolute;
  top: 5rem;
  color: #fff;
  background-color: #5f6368;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s 0.5s;
}

.navigation__apps:hover + .navigation__apps--content {
  top: 6.6rem;
  opacity: 1;
  visibility: visible;
}

.sidebar {
  display: flex;
}

.content {
  display: flex;
}

.content__sidebar {
  flex: 0 0 15%;
}

.content__sidebar button {
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-top: 2rem;
  background: none;
  border: none;
  outline: none;
  box-shadow: 0.1rem 0.1rem 10rem rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 50px;
  cursor: pointer;
}

.content__sidebar button span {
  font-size: 17px;
  margin-left: 1rem;
  color: #3c4043;
  font-weight: 500;
  font-family: "PT Sans", sans-serif;
  padding-right: 1rem;
  font-family: Google Sans, Roboto, Arial, sans-serif;
}

.content__main {
  flex: 1;
  min-height: 100%;
}
/*# sourceMappingURL=main.css.map */